<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854435803640-trif7vrvra33o9ks3mtesraufp087lid.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854435803640-trif7vrvra33o9ks3mtesraufp087lid</string>
	<key>API_KEY</key>
	<string>AIzaSyBu2rtXspb3k18ha1CaifIF5Q4yQaPhNWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>854435803640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.republicDayFinal</string>
	<key>PROJECT_ID</key>
	<string>republicday-7de92</string>
	<key>STORAGE_BUCKET</key>
	<string>republicday-7de92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854435803640:ios:f38703358d73e4311be60d</string>
</dict>
</plist>